.listEmpty {
    border-radius: 8px;
    padding: 4rem;
    text-align: center;
}

.listEmpty svg {
    color: var(--gray-400);
    margin-bottom: 1rem;
}

.listEmpty .emptyMessage p {
    color: var(--gray-300);
}

.listEmpty .emptyMessage p+p {
    color: var(--gray-300);
    opacity: .7;
}