.content {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.container {
    width: 60%;
    height: 100%;

}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: var(--purple);
    font-weight: bold;
}

.header .createdTask {
    color: var(--blue);
}

.header div {
    font-size: .9rem;
}

.header div span {
    font-size: .7rem;
    background: var(--gray-400);
    padding: .2rem .4rem;
    border-radius: 8px;
    color: var(--gray-100);
}

.maincontent {
    width: 100%;
    border-top: 1px solid var(--gray-300);
    margin-top: 1rem;
    border-radius: 8px;
    overflow: auto;
    height: 25rem;
}

.maincontent::-webkit-scrollbar {
    display: none;
}